* {
    padding: 0;
    margin: 0;
}

body,
html {
    background-color: #012638;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
}

.adesivo1 {
    padding: 3% 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #0000008f;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.adesivo2 {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    margin-left: 10px;
    box-shadow: 2px 2px 2px 2px #0000008f;
    animation-name: fade2;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.profile {
    border-radius: 100%;
    width: 100px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0s;
}

.shadow {
    margin-top: 20px;
    padding: 2px;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    background: darkgray;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.adesivo1 h1 {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.social {
    width: 20px;
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.align {
    margin-top: 10px;
    text-align: center;
}

.align1 {
    margin-top: 10px;
    text-align: center;
    background: black;
}

.map {
    width: 30px;
}

.title {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

.botao {
    background-color: #44c767;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 76px;
    text-decoration: none;
    text-shadow: 0px 1px 50px #2f6627;
}

.botao:hover {
    background-color: #5cbf2a;
}

.botao:active {
    position: relative;
    top: 1px;
}

#border {
    border-radius: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(-300px);
    }
    85% {
        transform: translateX(5px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade2 {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    85% {
        transform: translateX(-5px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}