* {
  margin: 0;
  padding: 0;
  font-family: "Khand", sans-serif;
}

body {
  background: url("../img/pic1.jpg");
  background-size: cover;
}

.loginbox {
  width: 320px;
  height: auto;
  background: rgba(0, 0, 0, 0.54);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 8%;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: rgb(232, 214, 189);
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid rgb(221, 0, 0);
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(221, 0, 0);
  font-size: 16px;
}

.loginbox input[type="submit"] {
  margin-top: 15px;
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #ffc107;
  font-size: 20px;
}

.loginbox a:hover {
  color: #ffc107;
}

.main {
  font-size: 28px;
  display: flex;
  padding: 0 20px;
  margin-top: 10px;
  text-align: center;
}

#title {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.54);
}


.adesivo1 {
  width: 33%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 20px;
  margin: 0 10px;
}
.adesivo2 {
  width: 33%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 20px;
  margin: 0 10px;
  height: 100%;
}
.adesivo2 input{
    display: block;
    width: 100%;
    margin:20% 100%;
    border-radius: 20px;
}

.adesivo3 {
  width: 33%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 20px;
  margin: 0 10px;
}
